@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .daytime {
    background-color: rgb(217, 236, 236);
    color:antiquewhite;
  }
  .night {
      background-color: rgb(0, 0, 0);
      color: rgb(41, 39, 39);
  }

  .Weather {
  border: 1px solid #dadde1;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(135, 135, 135);
  padding: 16px;
  border-radius: 4px;
}

.Weather h1 {
  font-size: 30px;
  line-height: 26px;
  font-weight: 100;
  margin: 20px 0 0 0;
  color: black;
}
.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
.Weather ul {
  margin: 3px;
  padding: 0;
}
.Weather .temperature {
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  color: rgb(33, 33, 33);
  font-weight: 400;
}
.Weather canvas {
  display: inline-block;
  margin-right: 5px;
  margin-top: 5px;
}

.Weather .unit {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -34px;
  margin-left: 5px;
  color: rgb(35, 35, 35);
  line-height: 1;
}
.Weather a {
  text-decoration: none;
  color: black;
}

}